<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
    <div class="ps-3">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th><th>Marque</th><th>Desc</th><th>Prix</th><th>Quantite</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${products}">
                        <td th:text="${p.idP}"></td>
                        <td th:text="${p.marque}"></td>
                        <td th:text="${p.desc}"></td>
                        <td th:text="${p.prix}"></td>
                        <td th:text="${p.quantite}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>