
<div class="p-3">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>ID</th> <th>Marque</th> <th>Description</th> <th>Prix</th> <th>Quantite </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let p of products">
          <td>{{p.idP}}</td>
          <td>{{p.marque}}</td>
          <td>{{p.desc}}</td>
          <td>{{p.prix}}</td>
          <td>{{p.quantite}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
